<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Login and Registration</title>
</head>
<body>
    <div id="wrapper">
        <div id="content">
            <h1>Welcome!</h1>
            <form action="{% url 'user:register' %}" method="post">
                {% csrf_token %}
                <h3>Registration</h3>
                <h5>Name: <input type="text" name="name"></h5>
                <h5>Username: <input type="text" name="username"></h5>
                <h5>Email: <input type="text" name="email"></h5>
                <h5>Password: <input type="password" name="password"></h5>
                <h5>Confirm Password: <input type="password" name="confirm_pw"></h5>
                <input type="submit" value="Register">
            </form>
            {% for message in messages %}
                <p>{{ message.message }}</p>
            {% endfor %}
            <form action="{% url 'user:login' %}" method="post">
                {% csrf_token %}
                <h3>Login</h3>
                <h5>Username: <input type="text" name="username"></h5>
                <h5>Password: <input type="password" name="password"></h5>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</body>
</html>
