<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load staticfiles %}
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>Welcome...</h1>
        </div>
        <div id="main_content">
            <h3><a href="{% url 'user_login:login' %}">Main User Page</a></h3>
            <h3><a href="{% url 'courses:index' %}">Main Courses Page</a></h3>
            {% for message in messages %}
            <p>{{message.message}}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
